@page
@*@model Tuple<string, dynamic>*@
@{

}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href='@ViewBag.AuthUrl'>Login</a>



    @*<ul>
        @foreach (var hgt in Model.Item2)
        {
            <li>
                hgt
            </li>
        }
    </ul>*@

    @*<table>
            <tr>
                <th>Name</th>
                <th>Age</th>
            </tr>
            @foreach (var person in Model.PeopleView)
            {

                <tr>
                    <td>@person.FullName</td>

                    <td>@person.Age</td>

                </tr>
            }

        </table>*@

</div>
