<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<add key="ApplicationCertificateFilename" value="[Path for certificate pfx file]/8df.pfx"/>
		<add key="AppCertPassword" value="!QAZ2wsx"/>
		<add key="HealthServiceUrl" value="https://platform.ppe.chbase.com/platform/"/>
		<add key="ApplicationId" value="1e98d5f1-27ce-459d-94d5-38c0265f2a15"/>
		<add key="ShellUrl" value="https://shell.ppe.chbase.com/"/>
	</appSettings>
</configuration>